<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS | Battle</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda:400,700" rel="stylesheet">
</head>

<body>
    <div id="app" class="center-box">
        <div class="stats shadow">
            <h1>Player</h1>
            <h1>Monster</h1>
            <div class="life-base">
                <div class="life" :style="lifeStyle('player')">
                    <span v-if="life.player>0" class="life-text">{{life.player}}</span>
                    <span v-else class="life-text dead-text">DEAD</span>
                </div>
            </div>
            <div class="life-base">
                <div class="life" :style="lifeStyle('monster')">
                    <span v-if="life.monster>0" class="life-text">{{life.monster}}</span>
                    <span v-else class="life-text dead-text">DEAD</span>
                </div>
            </div>
        </div>
        <div class="options shadow">
            <template v-if="runGame">
                    <button class="btn btn-attack" @click="attack">attack</button>
                    <button class="btn btn-special-attack" @click="specialAttack">special attack</button>
                    <button class="btn btn-heal" @click="heal">heal</button>
                    <button class="btn btn-escape" @click="escape">escape</button>
            </template>
            <template v-else>
                <button class="btn btn-new" @click="newGame">new game</button>
            </template>
        </div>
        <ul v-if="log.length>0" class="log shadow">
            <li v-for="entry in log" class="log-entry" :class="{'log-player': entry.entity==='player', 'log-monster': entry.entity==='monster', 'log-game': entry.entity==='game'}">{{entry.text}}</li>
        </ul>
    </div>
</body>
<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="index.js"></script>

</html>